*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	transition: .2s linear;
}

html{
	font-size: 63%;
	overflow: hidden;
	scroll-behavior: smooth;
}

body{
	background: #e6e6e6;
	padding-left: 30rem;
}

body.active{
	background: #222;
	color: #fff;
	border: .1rem solid rgba(0, 0, 0, .4);
	box-shadow: .4rem .4rem 1rem #111111,
	            -.4rem -.4rem 1rem #333333;
	box-shadow-inset: .4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;;            
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 30rem;
	border-right: 1px solid #D5D8DC;
	height: 100%;
	padding: 2rem;
	text-align: center;
}

.header .user img{
	width: 200px;
	margin: 1rem 0;
	border: 1rem solid transparent;
	width: 18rem;
	height: 18rem;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
    border-radius: 50%;
}

 .header .user h3{
 	color: #000;
 	font-size: 2.3rem;
 }    


 .header .user p{
 	padding: 1rem;
 	color: #777;
 	font-size: 1.3rem;
 }     

 .header .navbar{
 	padding-top: 1rem;
 }   

 .header .navbar a{
 	display: block;
 	margin: 1.5rem 0;
 	padding: .7rem;
 	border-radius: 5rem;
 	font-size: 1.8rem;
 	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	color: #000;   
	text-transform: uppercase;        
 }  

 .header .navbar a:hover{
 	box-shadow: .4rem .4rem 1rem #ccc inset,
                  -.4rem -.4rem 1rem #fff inset;
    color: #61DEBD;
 }   


#menu-btn{
	position: fixed;
	top: 1.5rem;
	left: 2rem;
	height: 5rem;
	width: 5rem;
	z-index: 1000;
	line-height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	color: #000;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
    display: none;
    text-align: center;
}


#menu-btn:hover{
	color:  #61DEBD;
	box-shadow: .4rem .4rem 1rem #ccc inset,
                  -.4rem -.4rem 1rem #fff inset;
}

#theme-toggler{
	position: fixed;
	top: 1.5rem;
	right: 2rem;
	z-index: 1000;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	text-align: center;
	color: #000;  
	background: #e6e6e6;         
}

#theme-toggler:hover{
    color:  #61DEBD;
	box-shadow: .4rem .4rem 1rem #ccc inset,
                  -.4rem -.4rem 1rem #fff inset;
}

section{
	min-height: 100vh;
	padding: 2rem;
}

.btn{
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3.5rem;
	border-right: .5rem;
	font-size: 1.7rem;
	cursor: pointer;
	background: none;
	border-radius: 5rem;
	color: #000;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
}

.btn:hover{
	box-shadow: .4rem .4rem 1rem #ccc inset,
                  -.4rem -.4rem 1rem #fff inset;
    color: #61DEBD;
}  

.home{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home .content h3{
	font-size: 3rem;
	color: #000;
	line-height: 1.1;
	text-transform: uppercase;
}


.home .content p{
	font-size: 1.5rem;
	color: #777;
	padding-bottom: .5rem;
	line-height: 25px;
}

.home .share{
	position: relative;
	top: 10rem;
	border-radius: .5rem;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	padding: .8rem;           
}

.home .share a{
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	margin: .5rem;
	font-size: 2rem;    
	color: #000;  
	border-radius: .5rem;     
}

.home .share a:hover{
	box-shadow: .4rem .4rem 1rem #ccc inset,
                  -.4rem -.4rem 1rem #fff inset;
    color: #61DEBD;              
}





.heading{
	text-align: center;
	font-size: 4rem;
	color: #000;
	margin-top: 30px;
	padding-bottom: 2rem;
	text-transform: uppercase;
}

.heading span{
	color: #61DEBD;
}


.about-info{
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.about-info h2{
	font-size: 40px;
	margin-bottom: 5px;
}

.about-info h5{
	color: #FE0404;
	font-size: 35px;
	letter-spacing: 2px;
}

.about-info h5 .wonder{
	font-size: 35px;
	color: #000;
}

.about-info h5 span{
	color: #61DEBD;
	font-size: 25px;
}

.about-info h6{
	font-size: 15px;
	color: #000;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.about-info p{
	color: #777;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 23px;
	max-width: 590px;
	margin-bottom: 15px;
}

.about-info p span{
	font-size: 16px;
	letter-spacing: 0;
	color: #000;
	font-weight: bold;
}

.about-info .btn{
	width: 30%;
}





.skills .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 2rem;
}

.skills .row .skill{
	flex: 1 1 40rem;
}

.skills .row .skill h2{
	text-align: center;
	line-height: 100px;
	font-size: 23px;
	text-decoration: underline;
}

.skills .row .skill h3{
	color: black;
	font-size: 1.5rem;
	font-weight: normal;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.skills .row .skill .bar{
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	border-radius: 5rem;
	height: 2rem;
	padding: .5rem;
	margin: 1rem;           
}

.skills .row .skill .bar span{
	display: block;
	height: 100%;
	background: #61DEBD;
	border-radius: 5rem;
}

.skills .row .skill .bar-1-1 span{
	width: 95%;
}

.skills .row .skill .bar-1-2 span{
	width: 80%;
}

.skills .row .skill .bar-1-3 span{
	width: 65%;
}

.skills .row .skill .bar-1-4 span{
	width: 50%;
}

.skills .row .skill .bar-2-1 span{
	width: 95%;
}

.skills .row .skill .bar-2-2 span{
	width: 80%;
}

.skills .row .skill .bar-2-3 span{
	width: 65%;
}

.skills .row .skill .bar-2-4 span{
	width: 50%;
}


.services .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 2rem;
}

.services .box-container .box{
	padding: 2rem;
	border-radius: .5rem;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.services .box-container .box i{
	font-size: 4rem;
	padding-bottom: 5rem;
	color: #fff;
}

.services .box-container .box h3{
	text-align: center;
	font-size: 2rem;
}

.services .box-container .box p{
	color: #777;
	font-size: 1rem;
	letter-spacing: 1px;
	text-align: center;
	line-height: 18px;
}

.services .box-container .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #61DEBD;
	z-index: -1;
	clip-path: circle(9rem at 0% 5%);
	transition: .3s linear;
}

.services .box-container .box:hover::before{
	clip-path: circle(100%);
}

.services .box-container .box:hover > *{
	color: #fff;
}


.portfolio .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 2rem;
}

.portfolio .box-container .box{
	height: 25rem;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	position: relative;
	border: 1rem solid transparent;           
}

.portfolio .box-container .box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.portfolio .box-container .box .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #61DEBD;
	display: grid;
	place-items: center;
	transform: scale(0);
}

.portfolio .box-container .box:hover .content{
	transform: scale(1);
}

.portfolio .box-container .box .content h3{
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
	transform: skew(25deg);
	opacity: 0;
	transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3{
	transform: translateY(0rem);
	opacity: 1;
}


.contact form{
	margin: 1rem auto;
	max-width: 70rem;
	border-radius: .5rem;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	padding: 2rem;           
}


.contact form .box{
	width: 100%;
	padding: 1rem 1.5rem;
	background: none;
	color: #000;
	font-size: 1.6rem;
	text-transform: none;
	margin: .7rem 0;
	box-shadow: .4rem .4rem 1rem #ccc,
	           -.4rem -.4rem 1rem #fff;
	border-radius: .5rem;           
}

.contact form textarea{
	height: 12rem;
	resize: none;
}

.contact form:focus{
	box-shadow: .4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}



.credits{
	font-size: 1rem;
	text-align: center;
	border-top: grey;
	color: #000;
}

.credits span{
	color: #61DEBD;
}


@media (max-width: 991px){
	html{
		font-size: 55%;
	}

	body{
		padding-left: 0;
	}

	.header{
		left: -110%;
	}

	.header.active{
		left: 0%;
		transition: 1s linear;
	}

	#menu-btn{
		display: initial;
	}
}

@media (max-width: 450px){
	html{
		font-size: 50%;
	}

	.header{
		width: 100%;
		border-right: 0;
	}

	.about-info{
		margin-top: 0;
	}

	.about-info p{
		font-size: 8px;
	}

	.about-info .btn{
		width: 40%;
	}
}
